<div class="form-group">
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name="email" value="{{this.email}}">
  </div>
  <div class="form-group">
    <input type="text " class="form-control" id="floatingInput" placeholder="Name" name="emp_name" value="{{this.emp_name}}">
  </div>
  <div class="form-group">
    <input type="text " class="form-control" id="floatingInput" placeholder="Phone" name="phone" value="{{this.phone}}">
  </div>
  <div class="form-group">
    <input type="text " class="form-control" id="floatingInput" placeholder="Department ID" name="dept_id" value="{{this.dept_id}}">
  </div>
  <div class="form-group">
    <input type="text " class="form-control" id="floatingInput" placeholder="Project ID" name="project_id" value="{{this.project_id}}">
  </div>
  <div class="form-group">
    <input type="text " class="form-control" id="floatingInput" placeholder="Age" name="age" value="{{this.age}}">
  </div>
  <div class="form-group">
    <input type="text " class="form-control" id="floatingInput" placeholder="Salary" name="salary" value="{{this.salary}}">
  </div>
  <div class="form-group">
    <input type="file" name="image" accept="image/*">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>